.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

.reload_container {
  margin-top: 3%;
}

.button {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 7px 42px;
  border: 2px solid #378f71;
  border-radius: 12px;
  background: #09b57c;
  background: -webkit-gradient(linear, left top, left bottom, from(#09b57c), to(#2dbd8d));
  background: -moz-linear-gradient(top, #09b57c, #2dbd8d);
  background: linear-gradient(to bottom, #09b57c, #2dbd8d);
  text-shadow: #276651 1px 1px 1px;
  font: normal normal bold 23px comic sans ms;
  color: #ffffff;
  text-decoration: none;
}
.button:hover,
.button:focus {
  background: #0bd995;
  background: -webkit-gradient(linear, left top, left bottom, from(#0bd995), to(#36e3a9));
  background: -moz-linear-gradient(top, #0bd995, #36e3a9);
  background: linear-gradient(to bottom, #0bd995, #36e3a9);
  color: #ffffff;
  text-decoration: none;
}
.button:active {
  background: #056d4a;
  background: -webkit-gradient(linear, left top, left bottom, from(#056d4a), to(#2dbd8d));
  background: -moz-linear-gradient(top, #056d4a, #2dbd8d);
  background: linear-gradient(to bottom, #056d4a, #2dbd8d);
}
.button:before{
  content:  "\0000a0";
  display: inline-block;
  height: 24px;
  width: 24px;
  line-height: 24px;
  margin: 0 4px -6px -4px;
  position: relative;
  top: 0px;
  left: 0px;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAA7EAAAOxAGVKw4bAAABfklEQVRIibXWv04bQRAG8J8pqCkQiigQsqDhEVBEASEFRaqIJhIVD0CZDvEIeQAKCoQEeQFkIZSaFkGRFPwRRWgoKJBlOaS4Mx4fd7DG5pO2mJ3Z75ud2925mpdRxyqWMIeJfP4WZ2hgHxcla0ewWUU8hV008fjKaGIHkwXyrdz/DKu4SyAujr/4nHNshfkebKAdnG0cYg0zGM3HTD53XIhv4qAg3JN5DD7Hx7ItFrCC6xd2hqzmsSy/MJZA3sGkrESVAnuFzPshp7fmzwTquqelLa0sHcTTUinwPRiHQ8z8SaARjLUhkz/WcKN7SWbxJ4F8up9kWkFxNHVRKkaGTVgmcBvsqfcQOAv2/HsIHAX72xD4TnS/6TqDXbQivgTye4x3HLvB8ZangqwZXQaeH9E5bbDHblxvaW5i9h2UPdcLCeSL+B3WtfCpKris4TRUN5yjQnxLwg0fpGWuJOwY/TX9B2zjQxlR7RWhOr5iWfe35Z/s9p/KyvcTV1UE/wF9/slyBGNP1QAAAABJRU5ErkJggg==") no-repeat left center transparent;
  background-size: 100% 100%;
}
